.Input {
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 7px 12px;
  background-color: var(--bg-color);
  color: var(--primary-color);
  transition: all 0.15s linear;
  cursor: pointer;
  &:focus {
    border-color: var(--dark-primary-color);
    color: var(--dark-primary-color);
  }

  &:hover {
    border-color: var(--dark-primary-color);
    color: var(--dark-primary-color);
  }
}

.readonly {
  opacity: 0.5;
  cursor: auto;
  &:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
  }

  &:focus {
    border-color: var(--primary-color);
    color: var(--primary-color);
  }
}
