.app.dark {
    --bg-color: rgb(0, 0, 65);
    --inverted-bg-color: rgb(255, 255, 255);

    --primary-color: white;
    --secondary-color:rgb(226, 226, 255);
    --inverted-primary-color: blue;
    --inverted-secondary-color:rgb(0, 0, 0);
}