.app.dark {
    --bg-color: #14212A;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #86E0FC;
    --secondary-color: #FFD675;
    --inverted-primary-color: #7945FF;
    --inverted-secondary-color: #D173FF;
}
