.app.dark {
  --bg-color: #14212a;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #86e0fc;
  --secondary-color: #ffd675;
  --inverted-primary-color: #7945ff;
  --inverted-secondary-color: #d173ff;
}
