:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #14212A;
    --primary-color: #7945FF;
    --secondary-color: #D173FF;
    --inverted-primary-color:#86E0FC;
    --inverted-secondary-color:#FFD675;
}
