:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #14212a;
    --primary-color: #7945ff;
    --dark-primary-color: #460fcf;
    --secondary-color: #d173ff;
    --inverted-primary-color: #86e0fc;
    --inverted-secondary-color: #ffd675;
}
