.AppLink {
    color: var(--primary-color);
    text-decoration: none;
    transition: opacity 0.2s ease;
    text-transform: uppercase;

    &:hover {
        opacity: 0.8;
    }
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--inverted-primary-color);
}

.red {
    color: red;
}
